[package]
name = "ingestor-wasm"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
ingestor-core = { path = "../ingestor-core", default-features = false }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
serde-wasm-bindgen = "0.6"
wasm-bindgen = "0.2"
zip = { version = "0.6", default-features = false, features = ["deflate"] }

[dependencies.web-sys]
version = "0.3"
features = ["console"]
